<h1>New Student</h1>

<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
  <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
